<div style="width: 100%; text-align: center;" *ngIf="horizontalMenu">
  <a class="navbar-brand header" [routerLink]="['/']">
    <h2 class="text-primary m-2 d-none d-lg-block">
      Structured Demographic Data De-Duplication Portal
    </h2>
  </a>
</div>
<div class="navbar-container d-flex content d-lg-none">
  <div class="bookmark-wrapper d-flex align-items-center">
    <ul class="nav navbar-nav d-xl-none" *ngIf="!coreConfig.layout.menu.hidden">
      <li class="nav-item">
        <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
          <span [data-feather]="'menu'" [class]="'ficon'"></span>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav align-items-center ml-auto"></ul>
</div>
