<div class="algo">
  <label>Enter Algorithm</label>
  <div class="btn-group">
    <div ngbDropdown>
      <button
        ngbDropdownToggle
        class="btn btn-flat-primary"
        type="button"
        id="dropdownMenuButton100"
        rippleEffect
      >
        Caverphone1
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton100">
        <a ngbDropdownItem href="javascript:void(0)">Caverphone1 </a>
        <a ngbDropdownItem href="javascript:void(0)">Metaphone</a>
        <a ngbDropdownItem href="javascript:void(0)">Soundex</a>
      </div>
    </div>
  </div>
</div>

<div class="search">
  <div class="name">
    <label for="basicInput">Enter Name</label>
    <input
      type="text"
      class="form-control"
      id="basicInput"
      placeholder="Yash"
    />
    <div class="my-2">
      <button type="button" class="btn btn-primary" rippleEffect>Search</button>
    </div>
  </div>

  <div class="lastName">
    <label for="basicInput">Enter Last Name</label>
    <input
      type="text"
      class="form-control"
      id="basicInput"
      placeholder="Saliya"
    />
    <div class="my-2">
      <button type="button" class="btn btn-primary" rippleEffect>Search</button>
    </div>
  </div>
</div>
