.search{
    box-sizing: border-box;
    display: flex;
    width:100%;
    // justify-content:space-around;
    .name, .lastName{
        width:50%;
        margin: 0px 20px 0px  0px;
    }
}


.algo{
    margin:20px 0px;
}
.card{
    padding:2%;
}
// .input1{
//     width:50% !important;
// }
.shadow{
    background-color: rgb(112, 108, 108);
}
