<div class="content-wrapper container-xxl p-0">
<div class = "card">
  <div class = "card-title">
   <h2>Encode Value</h2>
  </div>
<div class="form-group">
  <label for="basicInput">Enter Text to be Encoded</label>
  <input
    type="text"
    class="form-control"
    id="basicInput"
    placeholder="Type text here to encode"
    [(ngModel)]="name"
    style ="width:30%"
  />
</div>


<div class="d-flex">
  <div class="form-group selectBox mr-3">
    <label for="basicSelect">Select Algorithm</label
    ><select
      id="basicSelect"
      class="form-control"
      [(ngModel)]="selectedAlgorithm"
    >
      <option value="Metaphone" >Metaphone</option>
      <option
        *ngFor="let algorithm of algorithms"
        value="{{ algorithm.value }}"
      >
        {{ algorithm.value }}
      </option>
    </select>
  </div>
  <div class="my-2">
    <button
      type="button"
      class="btn btn-primary"
      (click)="encode()"
      rippleEffect
    >
      Encode
    </button>
  </div>
</div>
<div class="form-group">
  <label for="basicInput">Encoded Value</label>
  <input
    #clipboardValue
    type="text"
    class="form-control"
    id="basicInput"
    style= "width:30%;"
    [(ngModel)]="encodedText"
  />
</div>

<button
  class="btn btn-outline-primary"
  (click)="copyCode(clipboardValue.value)"
  rippleEffect
  style="min-width:5%;max-width: 10%;"
>
  Copy!
</button>

</div>
</div>